.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  color: white;
  text-align: center;
  padding: 12rem 1rem;
  width: calc(100% - 2rem);
}
.main > * {
  transition: 0.5s;
}
.main.clear-img-enabled > .img {
  filter: none;
}
.main.clear-img-enabled > :not(.img, .toggle-clear-img-button) {
  visibility: hidden;
  opacity: 0;
}
.img {
  position: absolute;
  background-size: cover;
  background-position-x: center;
  filter: brightness(0.5) contrast(0.9);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toggle-clear-img-button {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
}