.light-mode {
  --looks-main-40: var(--default-looks-main-40);
  --looks-main-50: var(--default-looks-main-50);
  --looks-main-70: var(--default-looks-main-70);
  --looks-main-90: var(--default-looks-main-90);
  --looks-bg: rgb(255, 255, 255);

  --ui-main-40: var(--default-ui-main-40);
  --ui-main-50: var(--default-ui-main-50);
  --ui-main-60: var(--default-ui-main-60);
  --ui-black-more-transparent: rgba(0, 0, 0, 0.125);
  --ui-black-transparent: rgba(0, 0, 0, 0.2);
  --ui-black-dim: rgba(0, 0, 0, 0.533);
  --ui-shadow: inset var(--ui-black-more-transparent) 0 0 0.25rem 0.2rem;
  --ui-intense-shadow: inset var(--ui-black-dim) 0 0 0.25rem 0.2rem;

  --link-15: var(--default-link-15);
  --link-40: var(--default-link-40);
  --link-50: var(--default-link-50);

  --text: hsl(225deg 15% 40%);

  --white-icon-filter: none;
  --gray-icon-filter: none;

  color-scheme: light;
}
.dark-mode {
  --looks-main-40: var(--default-looks-main-60);
  --looks-main-50: var(--default-looks-main-50);
  --looks-main-70: var(--default-looks-main-30);
  --looks-main-90: var(--default-looks-main-15);
  --looks-bg: rgb(25, 25, 25);

  --ui-main-40: var(--default-ui-main-60);
  --ui-main-50: var(--default-ui-main-50);
  --ui-main-60: var(--default-ui-main-40);
  --ui-black-more-transparent: rgba(255, 255, 255, 0.125);
  --ui-black-transparent: rgba(255, 255, 255, 0.2);
  --ui-black-dim: rgba(255, 255, 255, 0.533);
  --ui-shadow: inset var(--ui-black-more-transparent) 0 0 0.25rem 0.2rem;
  --ui-intense-shadow: inset var(--ui-black-dim) 0 0 0.25rem 0.2rem;

  --link-15: var(--default-link-90);
  --link-40: var(--default-link-60);
  --link-50: var(--default-link-50);

  --text: hsl(226, 100%, 95%);

  --white-icon-filter: invert(1);
  --gray-icon-filter: grayscale(100%) brightness(2.3);

  color-scheme: dark;
}