@import "../../utils/mixins.css";

.main {
  --hover-shadow:
    var(--ui-glass-shadow),
    inset var(--hover-bg-color, var(--looks-main-50)) 0 0 0.25rem 0.2rem,
    var(--hover-bg-color, var(--looks-main-50)) 0 0 0.25rem 0.05rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: 0.5s;
  cursor: pointer;
}
.main.glass-style {
  @mixin glass-style;
}
.main.glass-style-dark {
  @mixin glass-style-dark;
  color: var(--looks-bg);
}
.main:hover {
  border-color: var(--hover-bg-color, var(--looks-main-50));
  box-shadow: var(--hover-shadow);
}
.main.glass-style:hover {
  background: color-mix(
    in srgb,
    var(--ui-glass),
    var(--hover-bg-color, var(--looks-main-50)) 40%
  );
}
.main.glass-style-dark:hover {
  background: color-mix(
    in srgb,
    var(--ui-glass-dark),
    var(--hover-bg-color, var(--looks-main-50)) 40%
  );
}