@import "../../utils/mixins.css";

.main {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: var(--ui-main-40);
  color: var(--looks-bg);
  border-bottom: 0.125rem solid var(--ui-black-dim);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  box-shadow: var(--ui-shadow);
  transition: 0.5s;
  cursor: pointer;
}
.main:hover {
  background: var(--ui-main-60);
}
.main:active {
  box-shadow: var(--ui-intense-shadow);
}