.main {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: var(--ui-main-90);
  border-bottom: 0.125rem solid var(--ui-main-70);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.main:hover {
  box-shadow: inset var(--hover-bg-color, var(--looks-main-50)) 0 0 0.5rem 0.35rem;
  border-bottom: 0.125rem solid var(--hover-border-color, var(--looks-main-40));
}