@keyframes nav-pic_circle_animation-1 {
  0%,
  100% {
    r: 60px;
  }
  25% {
    r: 80px;
  }
  75% {
    r: 30px;
  }
}

div.navigation_picture > svg {
  background: repeating-linear-gradient(45deg, var(--looks-main-50), var(--looks-main-70) 150px);
  border-bottom-color: #efc900;
}
div.navigation_picture > svg > circle {
  fill: none;
  stroke: var(--looks-main-40);
  stroke-width: 20px;
  r: 60px;
  animation: 8s infinite nav-pic_circle_animation-1 linear;
}

div.navigation_picture > svg > circle:nth-child(1) {
  cx: 5%;
  cy: 20%;
  animation-delay: 0s;
}
div.navigation_picture > svg > circle:nth-child(2) {
  cx: 25%;
  cy: 80%;
  animation-delay: 0.7s;
}
div.navigation_picture > svg > circle:nth-child(3) {
  cx: 35%;
  cy: 0%;
  animation-delay: 1.4s;
}
div.navigation_picture > svg > circle:nth-child(4) {
  cx: 95%;
  cy: 80%;
  animation-delay: 2.1s;
}
div.navigation_picture > svg > circle:nth-child(5) {
  cx: 75%;
  cy: 20%;
  animation-delay: 2.8s;
}
div.navigation_picture > svg > circle:nth-child(6) {
  cx: 65%;
  cy: 100%;
  animation-delay: 3.5s;
}
