html {
  --looks-main-20: hsl(51deg 100% 20%);
  --looks-main-30: hsl(51deg 100% 30%);
  --looks-main-40: hsl(51deg 100% 40%);
  --looks-main-50: hsl(51deg 100% 50%);
  --looks-main-60: hsl(51deg 100% 60%);
  --looks-main-70: hsl(51deg 100% 70%);
  --looks-main-80: hsl(51deg 100% 80%);
  --looks-main-90: hsl(51deg 100% 90%);
  --looks-bg: white;
  --ui-main-20: hsl(0deg 0% 20%);
  --ui-main-30: hsl(0deg 0% 30%);
  --ui-main-40: hsl(0deg 0% 40%);
  --ui-main-50: hsl(0deg 0% 50%);
  --ui-main-60: hsl(0deg 0% 60%);
  --ui-main-70: hsl(0deg 0% 70%);
  --ui-main-80: hsl(0deg 0% 80%);
  --ui-main-90: hsl(0deg 0% 90%);
  --link-50: hsl(30deg 100% 50%);
  --link-90: hsl(30deg 100% 90%);
  --text: hsl(225deg 15% 40%);
}
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  margin: 0;
  background: linear-gradient(to right, var(--looks-main-90) 0%, var(--looks-bg) 10% 90%, var(--looks-main-90) 100%);
}

nav.navigation_panel {
  display: flex;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 70px;
  background: var(--looks-main-50);
  border-bottom: 2px solid var(--looks-main-40);
  border-radius: 10px;
  z-index: 100000;
  transition: 0.3s linear;
}
div.navigation.start > nav.navigation_panel {
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 5px 0px 5px;
  background: none;
  border-bottom: 2px solid transparent;
}
nav.navigation_hide-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  background: linear-gradient(to right, var(--looks-main-90) 0%, var(--looks-bg) 10% 90%, var(--looks-main-90) 100%);
  z-index: 99999;
  transition: 0.3s linear;
}
div.navigation.start > nav.navigation_hide-content {
  background: none;
}
div.navigation_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
div.navigation_picture > div {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.navigation_picture > div > div, div.navigation_picture > div > svg {
  position: absolute;
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.navigation_picture > span {
  position: absolute;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
a.navigation_logo {
  display: flex;
  align-items: center;
  margin: 10px;
}
a.navigation_logo > img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background: var(--looks-main-20);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer > * {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
div.footer_logo > img {
  height: 30px;
}
div.footer_logo > div {
  font-weight: bold;
}
div.footer_social > .button {
  background: var(--looks-main-40);
  border-bottom: 2px solid var(--looks-main-30);
  width: 30px;
  height: 30px;
}
div.footer_social > .button > img {
  width: 100%;
  height: 100%;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
div.content_group.image-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
div.content_group.image-and-text.left {
  flex-direction: row;
}
div.content_group.image-and-text.right {
  flex-direction: row-reverse;
}
div.content_group.image-and-text > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  width: 50%;
}
div.content_group.image-and-text > img {
  max-width: 700px;
  width: 50%;
}
div.content_group.list {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--ui-main-60);
  border: 2px dashed var(--ui-main-40);
  border-radius: 10px;
  padding: 20px;
  width: calc(100% - 40px);
  overflow-x: auto;
}

a.link {
  border-radius: 10px;
  padding: 2px 5px;
  background: var(--link-90);
  color: var(--link-50);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}
a.link:hover {
  background: var(--link-50);
  color: #ffffff;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--ui-main-90);
  color: var(--text);
  font-size: 25px;
  border-bottom: 2px solid var(--ui-main-70);
  border-radius: 10px;
  padding: 20px;
  font-weight: normal;
  text-decoration: none;
  transition: 0.3s linear;
}
.button:hover {
  background: var(--button-hov-bg)!important;
  color: var(--button-hov-text)!important;
  border-bottom-color: var(--button-hov-border)!important;
}
.button.content_big-button {
  width: 300px;
}
.button.content_big-button > img {
  width: 100%;
  height: 250px;
}
