html {
  --looks-main-20: hsl(51deg 100% 20%);
  --looks-main-30: hsl(51deg 100% 30%);
  --looks-main-40: hsl(51deg 100% 40%);
  --looks-main-50: hsl(51deg 100% 50%);
  --looks-main-60: hsl(51deg 100% 60%);
  --looks-main-70: hsl(51deg 100% 70%);
  --looks-main-80: hsl(51deg 100% 80%);
  --looks-main-90: hsl(51deg 100% 90%);
  --link-50: hsl(30deg 100% 50%);
  --link-90: hsl(30deg 100% 90%);
  --text: hsl(225deg 15% 40%);
}
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  color: var(--text);
}

nav.navigation_panel {
  display: flex;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 70px;
  background: var(--looks-main-50);
  border-bottom: 2px solid var(--looks-main-40);
  border-radius: 10px;
  z-index: 100000;
  transition: 0.3s linear;
}
div.navigation.start > nav.navigation_panel {
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 5px 0px 5px;
  background: none;
  border-bottom: 2px solid transparent;
}
nav.navigation_hide-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  background: white;
  z-index: 99999;
  transition: 0.3s linear;
}
div.navigation.start > nav.navigation_hide-content {
  background: none;
}
div.navigation_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
div.navigation_picture > svg {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.navigation_picture > span {
  position: absolute;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
a.navigation_logo {
  display: flex;
  align-items: center;
  margin: 10px;
}
a.navigation_logo > img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background: var(--looks-main-20);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
div.content_group.image-and-text {
  display: flex;
  align-items: center;
  gap: 50px;
}
div.content_group.image-and-text.left {
  flex-direction: row;
}
div.content_group.image-and-text.right {
  flex-direction: reverse-row;
}
div.content_group.image-and-text > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  width: 50%;
}
div.content_group.image-and-text > img {
  max-width: 700px;
  width: 50%;
}

a.link {
  border-radius: 10px;
  padding: 2px 5px;
  background: var(--link-90);
  color: var(--link-50);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}
a.link:hover {
  background: var(--link-50);
  color: #ffffff;
}
