@keyframes nav-pic_img_animation-1 {
  0%,
  100% {
    transform: translateY(40px) rotateZ(10deg) rotateY(50deg);
  }
  50% {
    transform: translateY(-40px) rotateZ(20deg) rotateY(30deg);
  }
}
@keyframes nav-pic_img_animation-2 {
  0%,
  100% {
    transform: translateY(40px) rotateZ(-15deg) rotateY(-20deg);
  }
  50% {
    transform: translateY(-40px) rotateZ(0deg) rotateY(-35deg);
  }
}

html {
  --looks-main-20: hsl(122deg 100% 20%);
  --looks-main-30: hsl(122deg 100% 30%);
  --looks-main-40: hsl(122deg 100% 40%);
  --looks-main-50: hsl(122deg 100% 50%);
  --looks-main-60: hsl(122deg 100% 60%);
  --looks-main-70: hsl(122deg 100% 70%);
  --looks-main-80: hsl(122deg 100% 80%);
  --looks-main-90: hsl(122deg 100% 90%);
}

div.navigation_picture > svg {
  background: radial-gradient(var(--looks-main-70), var(--looks-main-50));
  border-bottom-color: var(--looks-main-40);
}
div.navigation_picture > svg > image {
  width: 200px;
  height: 200px;
}

div.navigation_picture > svg > image:nth-child(1) {
  transform: translateY(40px) rotateZ(10deg) rotateY(50deg);
  transform-origin: 10% 125px;
  animation: 8s infinite nav-pic_img_animation-1 ease-in-out;
  animation-delay: 0s;
  x: 10%;
  y: 25;
  filter: drop-shadow(25px 5px 15px #00000088);
}
div.navigation_picture > svg > image:nth-child(2) {
  transform: translateY(40px) rotateZ(-15deg) rotateY(-20deg);
  transform-origin: calc(90% - 200px) 150px;
  /* animation: 8s infinite nav-pic_img_animation-2 ease-in-out; */
  animation-delay: 3s;
  x: calc(90% - 200px);
  y: 50;
  filter: drop-shadow(-25px 5px 15px #00000088);
}
