.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: var(--ui-main-90);
  border-bottom: 0.125rem solid var(--ui-main-60);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 15rem;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.img {
  transform: rotateX(30deg) rotateZ(-15deg) scale(0.8);
  filter: drop-shadow(0.25rem 1rem 0.5rem #0006);
  width: 100%;
  height: 12rem;
  transition: 0.5s;
}
.main:hover {
  background: var(--hover-bg-color, var(--looks-main-50));
  border-bottom: 0.125rem solid var(--hover-border-color, var(--looks-main-40));
}
.main:hover > .img {
  transform: rotateX(0deg) rotateZ(0deg) scale(1);
}