@import "../../utils/mixins.css";

.main {
  @mixin glass-style;
  --hover-shadow:
    var(--ui-glass-shadow),
    inset var(--hover-bg-color, var(--looks-main-50)) 0 0 0.25rem 0.2rem,
    var(--hover-bg-color, var(--looks-main-50)) 0 0 0.25rem 0.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 15rem;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.img {
  transform: rotateX(30deg) rotateZ(-15deg) scale(0.8);
  filter: drop-shadow(0.25rem 1rem 0.5rem var(--ui-black-dim));
  width: 100%;
  height: 12rem;
  transition: 0.5s;
}
.main:hover {
  border-color: var(--hover-bg-color, var(--looks-main-50));
  box-shadow: var(--hover-shadow);
}
.main:hover > .img {
  transform: rotateX(0deg) rotateZ(0deg) scale(1);
}