:root {
  --default-looks-main-30: hsl(122deg 100% 30%);
  --default-looks-main-40: hsl(122deg 100% 40%);
  --default-looks-main-50: hsl(122deg 100% 50%);
  --default-looks-main-60: hsl(122deg 100% 60%);
  --default-looks-main-70: hsl(122deg 100% 70%);
}