@keyframes button_anim {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.4rem);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  background: var(--looks-main-20);
  color: white;
  border-radius: 0.5rem;
}
.footer > * {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.logo {
  height: 2rem;
}
.button-main {
  display: flex;
  align-items: center;
  background: var(--looks-main-40);
  border-bottom: 0.125rem solid var(--looks-main-30);
  border-radius: 0.5rem;
  padding: 0.65rem 1rem;
  width: fit-content;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.button-img {
  width: 2rem;
  height: 2rem;
}
.button-main:hover {
  background: var(--hover-bg-color, var(--looks-main-50));
  border-bottom: 0.125rem solid var(--hover-border-color, var(--looks-main-40));
}
.button-main:hover > .button-img {
  animation: 0.5s button_anim cubic-bezier(0.07, 0.96, 0.37, 2.07);
}