@import "../../utils/mixins.css";

@keyframes circ_anim {
  0%,
  100% {
    r: 2.5rem;
  }
  50% {
    r: 4rem;
  }
}

.main {
  @mixin glass-style-nav;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(45deg, var(--looks-main-50), var(--looks-main-70) 10rem);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.circ {
  fill: none;
  stroke: var(--looks-main-40);
  stroke-width: 1rem;
  r: 2.5rem;
  animation: 8s infinite circ_anim ease-in-out;
}
.circ:nth-child(1) {
  cx: 5%;
  cy: 20%;
  animation-delay: 0s;
}
.circ:nth-child(2) {
  cx: 37%;
  cy: 0%;
  animation-delay: 1.6s;
}
.circ:nth-child(3) {
  cx: 95%;
  cy: 80%;
  animation-delay: 2.4s;
}
.circ:nth-child(4) {
  cx: 63%;
  cy: 100%;
  animation-delay: 4s;
}