@import "./utils/mixins.css";

:root {
  --default-looks-main-30: hsl(51deg 100% 30%);
  --default-looks-main-40: hsl(51deg 100% 40%);
  --default-looks-main-50: hsl(51deg 100% 50%);
  --default-looks-main-60: hsl(51deg 100% 60%);
  --default-looks-main-70: hsl(51deg 100% 70%);
  --default-link-15: hsl(30deg 100% 15%);
  --default-link-40: hsl(30deg 100% 40%);
  --default-link-50: hsl(30deg 100% 50%);
  --default-link-60: hsl(30deg 100% 60%);
  --default-link-90: hsl(30deg 100% 90%);
}
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  margin: 0;
  background: linear-gradient(
    to right,
    var(--looks-main-90) 0%,
    var(--looks-bg) 20% 80%,
    var(--looks-main-90) 100%
  );
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
a {
  color: var(--text);
  text-decoration: none;
}
img {
  user-select: none;
}
.font-3rem {
  font-size: 3rem;
}
.link {
  background: var(--link-90);
  color: var(--link-40);
  border: 0.125rem dashed var(--link-40);
  border-radius: 0.5rem;
  padding-inline: 0.25rem;
  transition: 0.25s;
}
.link:hover {
  background: var(--link-50);
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2.5rem;
}
.section {
  @mixin glass-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  width: calc(100% - 2rem);
}
.card {
  @mixin glass-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: calc(17rem - 2rem);
  min-width: calc(17rem - 2rem);
}
.card-thumb {
  aspect-ratio: 5 / 3;
  background: linear-gradient(
    45deg,
    var(--color, var(--looks-main-50)) 0%,
    color-mix(
      in srgb,
      var(--color, var(--looks-main-50)),
      var(--looks-bg) 30%
    ) 100%
  );
  border: 0.125rem solid var(--ui-black-transparent);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
.card-thumb > img {
  aspect-ratio: 5 / 3;
  width: 100%;
}
.card-button-link {
  width: 100%;
}
.card-button {
  justify-content: center;
  width: calc(100% - 2rem);
}
.scrollable-list {
  @mixin glass-style;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  overflow-x: auto;
}
.input-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--ui-main-90);
  border: none;
  border-top: 0.125rem solid var(--ui-main-60);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans", sans-serif;
  color: var(--text);
  outline: none;
  transition: 0.5s;
}
.input-main:hover, .input-main:active, .input-main:focus {
  box-shadow: inset var(--ui-main-80) 0 0 0.5rem 0.35rem;
  border-top: 0.125rem solid var(--ui-main-40);
}