body {
  font-family: Noto Sans;
  margin: 0;
}

nav.navigation_panel {
  display: flex;
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 70px;
  background: gold;
  border-bottom: 2px solid #efc900;
  border-radius: 25px;
  z-index: 100000;
  transition: 0.3s linear;
}
div.navigation.start > nav.navigation_panel {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 75px;
  background: none;
  border: none;
  border-radius: 0;
}
nav.navigation_hide-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  background: white;
  z-index: 99999;
}
div.navigation.start > nav.navigation_hide-content {
  background: none;
}
div.navigation_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
div.navigation_picture > svg {
  display: block;
  width: 100%;
  height: 100%;
}
div.navigation_picture > span {
  position: absolute;
  font-size: 60px;
}
a.navigation_logo {
  display: flex;
  align-items: center;
  color: black;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

a.link {
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}
a.link:hover {
  background: #ff8400;
  color: #fff;
}
