a.link {
  color: #ff8400;
  background: #ffdeba;
  padding: 2px;
  transition: 0.3s linear;
  font-weight: bold;
  text-decoration: none;
  border-radius: 7px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
a.link:hover {
  color: #fff;
  background: #ff8400;
}
p.content_elem {
  margin-block-start: 20px;
  margin-block-end: 20px;
}
nav.navigation_panel {
  width: auto;
  height: 70px;
  background: gold;
  border-bottom: 2px solid #efc900;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  right: 0;
  border-radius: 25px;
  margin: 5px;
  display: flex;
}
a.navigation_logo {
  display: flex;
  align-items: center;
  color: black;
  background: unset;
  font-weight: unset;
  margin-left: 0.7em;
}
a.navigation_button {
  display: flex;
  align-items: center;
  color: black;
  font-weight: unset;
  background: #efc900;
  border-bottom: 2px solid #d7b500;
  border-radius: 25px;
  margin: 5px;
  text-decoration: unset;
  padding: 5px;
  transition: 0.3s linear;
}
a.navigation_button:hover {
  color: var(--hover-text-color);
  background: var(--hover-bg-color);
  border-bottom: 2px solid var(--hover-border-color);
}
