a.link {
  color: #ff8400;
  background: #ffdeba;
  padding: 2px;
  transition: 0.3s linear;
  font-weight: bold;
  text-decoration: none;
  border-radius: 7px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
a.link:hover {
  color: #fff;
  background: #ff8400;
}
p.content_elem {
  margin-block-start: 20px;
  margin-block-end: 20px;
}
a.navigation_logo {
    display: flex;
    align-items: center;
    color: black;
    background: unset;
    font-weight: unset;
    margin-left: 0.7em;
}
a.navigation_button {
    display: flex;
    align-items: center;
    color: black;
    background: unset;
    font-weight: unset;
    margin-left: 0.7em;
}
a.navigation_button:hover {
  background: #00000021;
}
